@import 'tailwindcss';

.custom-scroll::-webkit-scrollbar {
  display: none;
}

body {
  /* font-family: "Nunito", sans-serif; */
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-mon {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}